* {
    box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 450px;
    height: 150px;
    border: 1px solid black;
    border-bottom: 15px solid;
    margin-bottom: 15px;
    padding: 15px 5px 10px 10px ;
    background-color: darkgray;
}
.cal-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    border: 10px solid black;
    border-top: 50px solid;
    background-color: rgb(223, 222, 222);
  

}
#operator-3,
#operator-7,
#operator-11,
#operator-15,
#operator-18

{
    background-color: orange;
}

#operator-0,
#operator-1,
#operator-2
{
    background-color: gray;
}

#operator-16{
    width: 210px;
}

button {
    text-align: center;
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-top: 5px solid ;
    font-size: 20px;
    /* background-color: aqua; */
}

button:hover {
    background-color: lightgray;
}

.screen {
    /* text-align:right; */
    font-size: 50px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-bottom: 20px;
}
#operator-3:hover,
#operator-7:hover,
#operator-11:hover,
#operator-15:hover,
#operator-18:hover {
    background-color: darkorange;
    color: white;
}

#operator-0:hover,
#operator-1:hover,
#operator-2:hover {
    background-color: rgb(68, 66, 66);
    color: wheat;
}

#zero{
    width: 210px;
   
}

